body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-image: url('https://static.vecteezy.com/system/resources/previews/024/507/343/non_2x/food-pattern-minimalist-background-illustration-vector.jpg');
  background-size: cover;   
  background-position: center;  
  background-repeat: no-repeat; 
  background-attachment: fixed; 
}

@import "tailwindcss";